<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Редактирование списка дел</title>
</head>
<body>
<div class="wrapper" id="app-root">
  <div th:replace="fragments :: navbar"></div>
  <div class="container-fluid">
    <div class="row">
      <div id="content">
        <h2>Редактировать список дел</h2>
        <form action="#" th:action="@{'/lists/edit'}" th:object="${taskList}" method="post">
          <div class="form-group mx-sm-3 mb-2">
            Название списка дел:
            <input type="hidden" th:field="*{id}" readonly="readonly"/>
            <input type="text" th:field="*{heading}"/>
            <input type="hidden" th:field="*{user}" readonly="readonly"/>
          </div>
          <br/>
          <div>
            <input class="btn btn-primary" type="submit" th:value="Сохранить"/>
            <form action="#" th:action="@{'/lists/' + ${taskList.id}}">
              <input class="btn btn-primary" type="submit" th:value="Отмена"/>
            </form>
          </div>
        </form>
        <br/>
        <table id="taskLists" class="table table-bordered">
          <thead>
          <tr>
            <th scope="col" class="table-primary">Название задачи</th>
            <th scope="col" class="table-primary">Действие</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="task : ${tasks}">
            <td>
              <div th:text="@{${task.description}}"></div>
            </td>
            <td>
              <a th:href="@{'/tasks/' + ${task.id} + '/delete'}">Удалить</a> /
              <a th:href="@{'/tasks/' + ${task.id} + '/edit'}">Редактировать</a>
            </td>
          </tr>
          </tbody>
        </table>
        <br/>

      </div>
    </div>
  </div>
</div>
</body>
</html>