<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Сервис управления списком дел</title>
</head>

<body>
<div style="text-align: left;">
    <div th:replace="fragments :: navbar"></div>
    <br>
    <h3>Списки дел:</h3>
    <form action="/lists" th:object="${filter}">
        <input name="filter" type="text" th:value="${filter}">
        <input class="btn btn-primary" type="submit" value="Искать"/>
    </form>
    <table class="table table-bordered">
        <tr>
            <th scope="col" class="table-primary">Название списка</th>
        </tr>
        <tr th:each="list : ${lists}">
            <td>
                <a th:href="@{'/lists/' + ${list.id}}" th:utext="${list.heading}"></a>
            </td>
        </tr>
    </table>
    <div class="col-sm-6">
        <div th:if="${privilege == 0}">
            <input class="btn btn-primary" type="submit" value="Добавить"
                   onclick="location.href='/lists/add'"/>
        </div>
    </div>
</div>
</body>
</html>