<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title th:text="@{${taskList.heading}}"/>
</head>
<body>
<div class="wrapper" id="app-root">
  <div th:replace="fragments :: navbar"></div>
  <div class="container-fluid">
    <div class="row">
      <div id="content">
        <h2 th:text="@{${taskList.heading}}"/>
        <a th:href="@{'/lists/' + ${taskList.id} + '/delete'}">Удалить</a> /
        <a th:href="@{'/lists/' + ${taskList.id} + '/edit'}">Редактировать</a>
        <table class="table table-bordered">
          <tr>
            <th scope="col" class="table-primary"></th>
            <th scope="col" class="table-primary">Название</th>
          </tr>
          <tr th:each="task : ${tasks}">
            <td>
              <form th:action="@{'/tasks/'+ ${task.id} + '/updateStatus'}">
                <input name="status" type="checkbox" onclick="submit();" th:checked="${task.status} ? 'checked'" th:disabled="${task.status} ? 'disabled'" />
              </form>
            </td>
            <td>
              <div th:text="@{${task.description}}"></div>
            </td>
          </tr>
        </table>
        <br/>
        <form action="#" th:action="@{'/tasks/add'}" th:object="${newTask}" method="post">
          <div class="form-group mx-sm-3 mb-2">
            Добавить задачу:
            <input type="hidden" th:field="*{id}" readonly="readonly"/>
            <input type="text" th:field="*{description}"/>
            <input type="hidden" th:field="*{taskList}" readonly="readonly"/>
            <input type="hidden" th:field="*{status}" readonly="readonly"/>
            <input class="btn btn-primary" type="submit" value="Добавить"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>